## AIS Parser

In [1]:
# from IPython.display import Image, HTML
import numpy as np
import pandas as pd
import datetime
import warnings

warnings.filterwarnings("ignore")           # Suppress Warning

In [2]:
WorkingFolder = "/Users/cv0361/Desktop/TechChallenge/Data/"

In [3]:
ais = pd.read_csv(WorkingFolder + "AIS/AIS_2017_01_Zone03.csv", sep=",")
ais.head(3)

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo
0,564294000,2017-01-01T00:00:00,54.47611,-167.27802,10.1,-130.7,274.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN
1,564294000,2017-01-01T00:02:10,54.47709,-167.28815,10.0,-132.3,273.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN
2,367373760,2017-01-01T00:03:41,53.87792,-166.54954,0.0,-104.7,324.0,NORTH SEA,IMO7915905,WDE5954,1001.0,undefined,37.32,9.56,NaN,NaN

In [4]:
ais.shape

(2914245, 16)

In [5]:
ais.loc[ais.CallSign == "9V2597"].head()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo
0,564294000,2017-01-01T00:00:00,54.47611,-167.27802,10.1,-130.7,274.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN
1,564294000,2017-01-01T00:02:10,54.47709,-167.28815,10.0,-132.3,273.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN
4,564294000,2017-01-01T00:06:50,54.47952,-167.30954,9.4,-124.5,276.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN
8,564294000,2017-01-01T00:09:10,54.48054,-167.31973,9.5,-132.6,273.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN
13,564294000,2017-01-01T00:22:20,54.48790,-167.38021,9.7,-128.2,272.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN

In [6]:
print("CallSign Count:", len(ais['CallSign'].unique()))
print("IMO Count:", len(ais['IMO'].unique()))
print("VesselName Count:", len(ais['VesselName'].unique()))
print("MMSI Count:", len(ais['MMSI'].unique()))
print("VesselType Count:", len(ais['VesselType'].unique()))

CallSign Count: 790
IMO Count: 765
VesselName Count: 789
MMSI Count: 823
VesselType Count: 18

In [7]:
ais['VesselName'].unique()[1:17]

array(['NORTH SEA', 'ARCTIC MARINER', 'PACIFIC CYPRESS',
       'CASCADE MARINER', 'ALEUTIAN SABLE', 'ALASKAN LADY', 'KONA KAI',
       'MAKUSHIN BAY', 'VICTORY', 'ADAMANT', 'EARLY DAWN', 'CLIPPER EPIC',
       'OOCL BEIJING', 'PARAGON', 'ALASKAN DEFENDER', 'PACIFIC VENTURE'],
      dtype=object)

In [8]:
ais.drop_duplicates('CallSign').head()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo
0,564294000,2017-01-01T00:00:00,54.47611,-167.27802,10.1,-130.7,274.0,PEGASUS OCEAN,IMO9736963,9V2597,1004.0,under way using engine,174.53,NaN,NaN,NaN
2,367373760,2017-01-01T00:03:41,53.87792,-166.54954,0.0,-104.7,324.0,NORTH SEA,IMO7915905,WDE5954,1001.0,undefined,37.32,9.56,NaN,NaN
3,367094420,2017-01-01T00:04:44,53.87947,-166.54099,0.0,-126.7,511.0,ARCTIC MARINER,IMO7926605,WDC8874,1001.0,under way using engine,31.00,9.28,NaN,30.0
9,373073000,2017-01-01T00:09:32,54.51069,-167.34427,10.6,-134.8,269.0,PACIFIC CYPRESS,IMO9605097,3FGE2,1004.0,under way using engine,179.98,29.80,10.5,70.0
16,367124050,2017-01-01T00:26:39,53.86879,-166.55535,0.0,-156.2,511.0,CASCADE MARINER,IMO7609295,WDA6405,1001.0,under way using engine,25.06,7.32,NaN,0.0